<div class="flex flex-column">
  <h1 class="text-4xl text-center mb-4">Login</h1>

  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input matInput type="text" placeholder="Nombre de usuario" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" placeholder="Contraseña" />
  </mat-form-field>

  <button mat-button mat-flat-button color="primary">
    <mat-icon>save</mat-icon>
    Ingresar
  </button>

  <a routerLink="/auth/register" class="text-center mt-4"
    >¿No tienes cuenta? Regístrate</a
  >
</div>
